{% extends 'base.html' %}

{% block title %}
 MY LIL' TOMATO - about
{% endblock %}

{% block body %}

  <div class="row justify-content-center">
      <div style="width:50%;height:0;padding-bottom:20%;position:relative;">
        <iframe src="https://giphy.com/embed/WSxVrga7NqKlkmC13M" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </div>
  </div>

  <div class="row justify-content-center">
    <h5> Are you a student, independent contractor, or a freelancer who struggles to keep track of your time? </h5>
  </div>

  <div class="row justify-content-center">
    <ul > 
      <li> Do you ever wonder how you will manage to cross off that pesky task from your "To Do" list? </li>
      <li> Have you ever struggled to keep track of how you divide your time for multiple clients in a day? </li>
      <li> Have you ever lost the paper you use to keep track of your time for billing your client?</li>
    </ul>
  </div> <!--row--> 

  <div class="row justify-content-center">
    <h5 align="center">If you said to any of the above, this app was made for you!</h5>
  </div> <!--row--> 

  <div class="row justify-content-center">
    <p>Try it out and let us know how it went.<p>
  </div>

{% endblock %}