{% extends 'base.html' %}

{% block title %}NEW PROJECT{% endblock %}

{% block body %}
  {# IMAGE #}
  <div class="row justify-content-center">
      <div style="width:50%;height:0;padding-bottom:20%;position:relative;">
        <iframe src="https://giphy.com/embed/WSxVrga7NqKlkmC13M" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </div>
  </div>

  <!-- CONTAINER FOR ENTIRE CONTENT -->
  <div class="container" id="project_container"> 

    <form class="forms" id="new_project_form" action="/new_project" method="POST">
      <p id="new-project-heading" style="text-align: center;">CREATE A NEW PROJECT</p>
        <div style="text-align:center; margin:0 auto;">
          <input type="text" class="label-name project-field" name="new_project_name" placeholder="Enter project name"><br>
          <input type="text" class="label-name project-field" name="new_project_type" placeholder="Enter project type"><br>
          <input type="text" class="label-name project-field" name="new_project_rate" placeholder="Enter project rate"><br>
          <input type="text" class="label-name project-field" name="new_project_notes" placeholder="Enter project notes"><br>
          <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form><br>
  </div> <!-- session_container -->

{% endblock %}  