{% extends 'base.html' %}

{% block title %}SESSION{% endblock %}

{% block body %}
  <!-- CONTAINER FOR ENTIRE CONTENT -->
    <div class="container" id="session_container"> 
      <!-- FORM --> 
      <form class="forms" id="session_form">
        <label>Select session details.</label>
          <br><br>
        <label>Session interval: Custom</label>
        <input type="checkbox" id="Custom">
          <br><br>
        <label>Session type:</label>
        <select id="session_type">
          <option value="none">-- SELECT --</option>
          <option value="work">Work</option>
          <option value="short_break">Short Break</option>
          <option value="long_break">Long Break</option>
        </select><br><br>
        <input type="submit" value="Submit">
      </form>
        <br><br>
        <!-- display timer --> 
      <span class="timer">
        <p class="timer" id="timerTxt">DISPLAY TIME</p> 
      </span>
        <!-- PLAY, PAUSE, RESUME, STOP BUTTONS -->
      <span class="icons">
        <div class="action_icons">
            <button id="pomodoro-play">
                <i class="fas fa-play" id="play-icon"></i>
            </button>
            <button id="pomodoro-pause">
                <i class="fas fa-pause hidden" id="pause-icon"></i>
            </button>
            <button id="pomodoro-stop">
                <i class="fas fa-stop" id="stop-icon"></i>
            </button>
        </div>
      </span>
        <br><br>
      <div class="session_log">
        <h3>Session History</h3>
    <!-- Display session blocks representing chunks of time and session types in different colors along with centered text-->
      </div>
    </div> <!-- session_container -->
{% endblock %}

{% block after_body %}
  <span class="footer_container">HISTORY ABOUT HOMEPAGE LOGOUT</span>
{% endblock %}