{% extends 'base.html' %}

{% block title %}SESSION{% endblock %}

{% block body %}
  <!-- CONTAINER FOR ENTIRE CONTENT -->
  <div class="container" id="session_container"> 
    <!-- PLAY, PAUSE, RESUME, STOP BUTTONS -->
    <span class="icons">
    <div class="action_icons" id="play_button"></div>
    <div class="action_icons" id="stop_button"></div>
    </span>
    <!-- FORM --> 
    <form class="forms" id="session_form">
      <label>Select session details.</label>
      <br>
      <select id="session_interval">
        <option value="25min">25 min</option>
        <option value="15min">15 min</option>
        <option value="5 min">5 min</option>
      </select>
      <select id="session_type">
        <option value="25min">25 min</option>
        <option value="15min">15 min</option>
        <option value="5 min">5 min</option>
      </select> 
      <input type="submit" value="Submit">
    </form>
    <div class="session_log">
      <!-- Display session blocks representing chunks of time and session types in different colors along with centered text-->
    </div>
  </div> <!-- session_container -->
  
{% endblock %}