{% extends 'base.html' %}

{% block title %} SESSION {% endblock %}

{% block body %}
{# Hidden HTML element allows the server to extract project.project_id from the DOM #}
<p id="hidden-project-id" hidden> {{ project.project_id }} </p>

<h1>{{ project.project_name }}</h1> 
  <!-- CONTAINER FOR ENTIRE CONTENT --> 
{#   <form action="/login" method="POST" class="login-input-box"> #}
    <div class="container-fluid form-container" id="session_container"> 
      <h3 class="heading-name">Create a new Pomodoro Session!</h3>
      <!-- FORM --> 
        <label>Session Type:</label>
        <select id="session_type">
          {# TO-DO: Add this back to DOM. Check for bugs.  #}
          {# <option value="select">SELECT</option> #}
          <option value="work" class="name">Work</option>
          <option value="short_break" class="name">Short Break</option>
          <option value="long_break" class="name">Long Break</option>
        </select><br><br>
 {#  </form> #} 
      <!-- END OF FORM -->

      <!-- DISPLAY TIMER --> 
      <div class="time_container">
        <div class="time_stuff" id="todayDate">DATE</div>
        <div class="time_stuff" id="clockTime">CLOCK</div> 
        <div class="time_stuff" id="timerTime">TIMER COUNTDOWN</div> 
      </div>

      <!-- PLAY, PAUSE, RESUME, STOP BUTTONS -->
      <div class="icons-container">
        <span class="action-icons">
          <button id="pomodoro-play">
              <i class="fas fa-play" id="play-icon"></i>
          </button>
          <button id="pomodoro-pause">
              <i class="fas fa-pause hidden" id="pause-icon"></i>
          </button>
          <button id="pomodoro-stop">
              <i class="fas fa-stop" id="stop-icon"></i>
          </button>
        </span>
      </div><br><br> <!--ICONS-->

      <div class="session-container">
        <h3>Session History</h3>
        <ul id="session_log"></ul>

    <!-- Future To-Do Task: Display session blocks representing chunks of time and session types in different colors along with centered text-->

      </div> <!-- session_log --> 
    </div> <!-- session_container -->
    
  {# Adding this line here does not cause timer.js to load on this specific page.  #}
  {# It loads fine on other pages.  #}
    <script src="static/js/timer.js"></script>
{% endblock %}

{# Adding this here on only this page does not cause timer.js to load in browser #}
{# {% block afterbody %}
  <script src="static/js/timer.js"></script>
{% endblock %} #}

